<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    {% block title %}
        <title>KIDZY</title>
    {% endblock %}
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="My School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
{#    <script src="//code.jquery.com/jquery.js"></script>#}
{#    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>#}
{#    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}#}
{#    {% for message in app.flashes('mercuryseries_flashy_notification') %}#}
{#        <script id="flashy-template" type="text/template">#}
{#            <div class="flashy flashy--{{ message.type }}">#}
{#                <i class="material-icons">speaker_notes</i>#}
{#                <a class="flashy__body" href="#" target="_blank"></a>#}
{#            </div>#}
{#        </script>#}

{#        <script>#}
{#            flashy("{{ message.message }}", "{{ message.link }}");#}
{#        </script>#}
{#    {% endfor %}#}
    <!-- //Meta tag Keywords -->
    {% block css%}
        <!-- Start Styles. Move the 'style' tags and everything between them to between the 'head' tags -->
        <style type="text/css">
            .myOtherTable { background-color: #b5e2d5;border-collapse:collapse;color:#000;font-size:18px; }
            .myOtherTable th { background-color: #46efc8;color: #000000;width:50%; }
            .myOtherTable td, .myOtherTable th { padding:5px;border:0; }
            .myOtherTable td { border-bottom:1px dotted #000000; }
        </style>
        <!-- End Styles -->

        <!-- Custom-Files -->
        <link href="Front/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- Bootstrap-CSS -->
        <link href="Front/css/style.css" rel='stylesheet' type='text/css' />
        <!-- Style-CSS -->
        <link href="Front/css/font-awesome.min.css" rel="stylesheet">
        <!-- Font-Awesome-Icons-CSS -->
        <!-- //Custom-Files -->

        <!-- Web-Fonts -->
        <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
              rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
    {% endblock %}
    <!-- //Web-Fonts -->
</head>

{% block body %}
    <body>
    <!-- header -->
    <header>

    </header>
    <!-- //header -->

    </body>
{% endblock %}
</html>
