{% extends 'Temp/TemplAjoutRecuperation.html.twig' %}
{% block body %}
    {{ form_start (form) }}
    <div>

        {{ form_errors(form.nomrec) }}
        {{ form_label(form.nomrec,"Nom recompense") }}
        {{ form_widget(form.nomrec) }}
    </div>

    <div>

        {{ form_errors(form.nbrPoint) }}
        {{ form_label(form.nbrPoint,'Nombre de point') }}
        {{ form_widget(form.nbrPoint) }}
    </div>

    <div>
        {{ form_errors(form.emailp) }}
        {{ form_label(form.emailp,'email parent') }}
        {{ form_widget(form.emailp) }}
    </div>

    <div>
        {{ form_errors(form.nomenf) }}
        {{ form_label(form.nomenf,'nom enfant') }}
        {{ form_widget(form.nomenf) }}
    </div>
    <button type="submit" class="btn btn-success">ajouter</button>

    {{ form_end(form) }}
{% endblock %}