{%  extends 'Temp/TemplAfficheRecuperation.html.twig' %}

{% block body %}

    <input type="text" id="search" class="form-control"   placeholder="Rechercher par nom...">


    <table border="1">

        <tr>
            <th scope="row">nomRec</th>
            <th scope="row">nbr Point</th>
            <th scope="row"> nomEnfant</th>
            <th scope="row"> emailParent</th>
            <th scope="row">actions</th>

        </tr>

        {% for Recuperation in Recuperations %}
        <tbody id="all">
            <tr>
                <td> {{ Recuperation.nomrec }}</td>
                <td> {{ Recuperation.nbrPoint }}</td>
                <td>{{ Recuperation.nomEnf }}</td>
                <td>{{ Recuperation.emailP }}</td>

                 <td>   <a href="/supprimerRecuperation/{{Recuperation.idrecup}}" class="btn btn-danger">delete</a>
                     <a href="Recuperation/tri" class="btn btn-dark">tri mail</a>
                      <a href="/trinom" class="btn btn-dark"> tri nom</a>
                </td>

            </tr>

        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>


    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */

                var value = $(this).val();

                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.idrecup+'  </td> <td> '+obj.nomrec+'  </td> <td>    '+obj.nbrPoint+'  </td><td> '+obj.nomEnf+' </td><td>'+obj.emailP+' </td> <td><a href="/updateRecuperation/'+obj.idrecup+'">modifier</a> </br><a href="/supprimerRecuperation/'+obj.idrecup+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>


{% endblock %}

